<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Planet </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body style="background-color:antiquewhite;">
    <div class="jumbotron text-center">
        <h1 class=pt-5>
            Mession to Mars
        </h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="container">

        <h3>
            Latest Mars News
        </h3>
        <hr>
        <p class="fs-4">
            *{{ data_holder.news_title }}
        </p>
        <p class="fs-6 list-group-item list-group-item-success">
            {{ data_holder.news_p }}
        </p>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <img src="{{ data_holder.feature_image_url }}" class="img-fluid" alt="featuered img">
            </div>
            <br>
            <div class="col-lg-4 col-sm-4">
                <br>
                <br>
                <div>
                    <table  class="table bord table-success table-bordered table-sm">
                        <thead>
                            <tr style="text-align: left;">
                                <th></th>
                                <th>Mars</th>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data_holder.mars_table %}
                            <tr>
                                <th>{{ row[0] }}</th>
                                <td>{{ row[1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <h3 style="text-align: center; padding-top:3%; padding-bottom: 3%;">
            Mars Hemispheres
        </h3>
        <div class="row">
            {% for hemisphere in data_holder.hemisphere_image_urls %}
            <div class="col-lg-6 col-sm-6">
                <p class="fw-bolder fs-4 p-2 list-group-item-success">
                    {{ hemisphere.title }}
                </p>
                <img src="{{ hemisphere.img_url }}" class="img-fluid" alt="featuered img">

            </div>
            {% endfor %}

        </div>

    </div>
</body>

</html>
